<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="PRIVATE_KEY" value="abc123"/>
        <env name="TEST_DATA_CENTER" value="datacenter"/>
        <env name="TEST_API_KEY" value="123-datacenter"/>
    </php>
</phpunit>
