<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="TEST_DATA_CENTER" value=""/>
        <env name="TEST_API_KEY" value=""/>
    </php>
</phpunit>
